<div class="container">
  <p>Type Applicaiton ID/Name in the input field to search:</p>  
  <input type="text" placeholder="Search.." class="form-control" id="seachAppId">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Select</th>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" />&nbsp;</td>
        <td>APP_01</td>
        <td>Car</td>
      </tr>
      <tr>
        <td><input type="checkbox" />&nbsp;</td>
        <td>APP_02</td>
        <td>Bike</td>
      </tr>
      <tr>
        <td><input type="checkbox" />&nbsp;</td>
        <td>APP_03</td>
        <td>AutoPart</td>
      </tr>
    </tbody>
  </table>
  <button><a routerLink="/contact-us">Details</a></button>
</div>