<div class="container">
  <p>Type Subscription ID/Name in the input field to search:</p>  
  <input type="text" placeholder="Search.." class="form-control" id="seachAppId">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Select</th>
        <th>Subscription ID</th>
        <th>Application Name</th>
        <th>Subscription Name</th>
        <th>Validity Unit</th>
        <th>Validity Period</th>
        <th>Amount</th>
        <th>No.of Posts Allowed</th>
        <th>Posts Life in Days</th>
        <th>Posts Priority</th>
        <th>Notification via SMS</th>
        <th>Notification via Email</th>
        <th>Notification via App</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" />&nbsp;</td>
        <td>SUB_01</td>
        <td>Car</td>
        <td>Gold</td>
        <td>Day</td>
        <td>28</td>
        <td>2250.00</td>
        <td>NA</td>
        <td>NA</td>
        <td>High</td>
        <td>X</td>
        <td>X</td>
        <td></td>
      </tr>
      <tr>
        <td><input type="checkbox" />&nbsp;</td>
        <td>SUB_02</td>
        <td>Bike</td>
        <td>Silver</td>
        <td>Months</td>
        <td>3</td>
        <td>750.00</td>
        <td>124</td>
        <td>3</td>
        <td>Low</td>
        <td>X</td>
        <td>X</td>
        <td></td>
     </tr>
      <tr>
        <td><input type="checkbox" />&nbsp;</td>
        <td>SUB_03</td>
        <td>AutoPart</td>
        <td>Silver</td>
        <td>Years</td>
        <td>1</td>
        <td>3350.00</td>
        <td>NA</td>
        <td>NA</td>
        <td></td>
        <td></td>
        <td>X</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>